# IntelliJ
.idea/
**/*.iml
**/overlays
*.ipr
*.iws
out/
overlays/
atlassian-ide-plugin.xml

# Eclipse
**/.project
**/.classpath
**/.settings

# Maven
**/target

## OSX
.DS_Store
.AppleDouble
.LSOverride